<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onLogin($event)" class="login-form">
    <div class="form-title">
      Login
    </div>
    <input formControlName="username" type="text" class="form-control" placeholder="Username">
    <input formControlName="password" type="password" class="form-control" placeholder="Password">
    <div *ngIf="errorMessage" class="alert">{{errorMessage}}</div>
    <button type="submit" class="submit-button" [disabled]="form.invalid || isLoading">Let me in</button>
  </form>
</div>
